/*

	 *****************   
    *** COULEURS ****
    
    *****************
    
    
couleur fond (bleu foncé) : #00101a / violet :  #1b0b37
couleur menu & cta (rose)) : #F92AC2 / plus clair : #ff6cf5
couleur cadre(jaune)) : #FFFD10 / plus clair : #ffff5d 
couleur titres (bleu): #00F4D9 / plus clair : #6cffff
*/

/* Helpers material-icons*/

.material-icons.md-18 { font-size: 18px; }

.material-icons.md-24 { font-size: 24px; }

.material-icons.md-36 { font-size: 36px; }

.material-icons.md-48 { font-size: 48px; }

.material-icons.md-60 { font-size: 60px; }

/* 

	**HELPERS 
	
	*/
	
.no-margin-bottom {
	margin-bottom: 0;
}
.no-padding-bottom {
	padding-bottom: 0!important;
}
.no-margin-top {
	margin-top:0!important;
}
.no-padding-top {
	padding-top: 0!important;
}

html, body {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 62.5%;
  box-sizing: border-box;
  /* background-image: url("../img/textures/particules.png"); */
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
background-color: #1b0b37;


}

header{
	position: relative;
  	display: flex;
	height: 90vh;
	/*background-image: url("../img/textures/index.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
		
	
}
#header {
	z-index: 2;
}
/*.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 16, 26, 0.8);
  z-index: 1;
 }*/
header img:hover {
  cursor: pointer;
}
header h1{
	font-size: 3rem!important;
	/**text-transform: uppercase;**/
	text-shadow: 2px 3px 0px  rgba(0,0,0, 0.2);
	font-weight: 300;
	color: white;
	text-rendering: optimizeLegibility;
  
}
header h2{
	font-size: 1.7rem;
	font-weight: 100!important;

	color: white;
}
header #particles {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.bold {
	font-weight: 400;
}
.markup{
	font-style: bold;
	background-image: url("../img/masking-tape-pink.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-size: 100% 100%;
   font-weight: 500;
   color:#00101a;
   padding-right: px;
   padding-left: 3px;
}

.tape{
	 font-weight: normal;
	 background-image: url("../img/masking-tape-yellow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    color:#00101a;
    padding: 5px;
}

h1{
  color: #00101a;
  font-size: 4rem;
  /*letter-spacing: 0.1em;*/
  text-rendering: optimizeLegibility;


}
h2 {
	color:white;
	font-weight: 300!important;
	padding-bottom: 20px;
	
}
h3{
  color: white;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding-bottom: 2rem;

}
h5 {
	color:#00101a;
}

p{
	color: #00101a;
   font-weight: 200;
   font-size: 2rem;

}
.mini {
	font-size: 1.5rem;
}

.modal-footer a i {
	vertical-align:middle;
}



mark, mark strong{
	background-color: transparent;
	font-weight: bold;


}
strong {
	font-weight: 100;
}
p strong {
	font-weight: 100;
}
h2 strong {
	font-weight: normal;
}

.btn {
  text-transform: none !important;
}


/*********************************NAV*************************************************/
nav {
	background-color:#1b0b37;
	opacity: 1;

}
#logo-cooldev {
	padding-top: 10px;
	padding-left: 10px;
}

nav ul {
  list-style: none;
  margin: 20px 0;
}

nav ul li {

	line-height: 15px;
	padding-left: 30px;
	padding-right: 15px;
}

nav ul a {
	font-size: 1.6rem;
	padding:6px;
}

.nav-wrapper a .material-icons {
  color: white!important;
}

#mobile-menu {
  z-index: 1000;
}

#sidenav-overlay {
  z-index: 1;
}

.brand-logo{
	padding: 15px;
}
.social {
	padding-left: 20px;
}
.cta {
  display: block;
  margin: auto;
  height: 10rem;
  width:30rem;
  font-family: 'raleway', sans-serif;
  font-size: 2.4rem;
  color: #1b0b37 !important;
  background-color: #F92AC2 !important;
  box-shadow: 0.5rem 0.5rem 0rem #FFFD10;
  cursor: pointer;
  transition: all 0.2s ease;
  border-style: none;
  border-radius: 0px;
  text-transform: capitalize;
}

  .cta:hover {
    box-shadow: 0rem 0rem 0rem #FFFD10;
  }
/*******************HEADER**************************** */
#up {
  display: none;
}
#header h1 {
	letter-spacing: 3px;
}
#header h2 {
	letter-spacing: 3px;
	line-height: 30px;
}
#header {
	padding-top: 5vh;
}
.tape h2 {
	padding: 20px;
}
.arrow img {
	position: absolute;
	bottom: 15px;
}
#site {
	padding-bottom: 30px;
}
.modalheader {
	z-index: 0;
}
  /************************************************** */
  .div-cta {

    margin:  auto;
    margin-top:50px;
    font-size: 1rem;

  }

  .btn cta {
    display: block;
    margin: 0 auto;
    height: 3rem;
    width: 30rem;
    font-family: 'raleway', sans-serif;
    font-size: 1.7rem;
    color: black !important;
    background-color: #F92AC2!important;
    box-shadow: 0.5rem 0.5rem 0rem #FFFD10;
    cursor: pointer;
    transition: all 0.2s ease;
    border-style: none;
    border-radius: 0px;
    text-transform: lowercase

  }

.sections {
	margin-top:5rem;
}

/*********************************MODAL 1*************************************************/
#modal{
	background-color:#F92AC2;
}
#modal h2{
	color: black !important;
	font-size: 2rem;
	letter-spacing: 0em;
	padding-top: 2rem;

}

.sec2 {
	margin-top:0rem;
}

.text-sec2 p {
  color: #333333!important;
  font-weight: ;
  font-size: 2.7em;
  line-height: 2.8rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

.picto {
  	width:50%;
  	margin:auto;
}


/*****************************************MOTTO******************************************/
#motto {
	padding-top: 0px;

}
.title h2 {
	padding-bottom: 30px;
	padding-top: 30px;
}

#motiv h2 {
	color:whitesmoke;
	
}
#motiv, #school{

	padding-top: 80px;
	padding-bottom: 80px;
}
.collapsible-body p{
	color: #00101a;
}

.collapsible-header h4 {
	color:#00101a;
}
#motiv h3 {
	color:whitesmoke;
	font-weight: 400;
	font-size: 2rem;
}
/*****************************************TESTIMONIAL******************************************/

#skills {
	background-color:white ;
	padding-top: 80px;
	padding-bottom: 80px;

}
.skills {
	padding-bottom: 50px;
	padding-top: 50px;
}
#skills h3 {
	color:whitesmoke;
	font-weight: 300;
	font-size: 3rem;
}
#cards-testimonial h3 {
	margin-bottom: 0;
	padding-bottom: 0;
}

#us h5+p{
	font-size: 1.2rem;
}
.card-reveal p {
	font-size: 2rem!important;
}
.card-content p {
	color:whitesmoke!important;
}
.card-image .btn-floating {
	background-color: #F92AC2!important;
}
/*****************************************OFFRE******************************************/
.offer-card {
	
padding: 15px!important;	
}
.offer-card h2 {
	color: #00101a;
	font-weight: 200;
	
}
.card{
	background-color:rgba(0,0,0,0)
	 }

.budget ul {
	font-size: 2rem;
	font-weight: 200;
	color:black;
}
.budget li {

	list-style-image: url("../img/arrow-right.png");
}

/*.card-header img {
		
		height: 100px;
	}*/
.picto-offre{
	
	padding-left: 50px!important;
	padding-right: 50px!important;

}
#offre {
	background-color: white;
	padding-top: 80px;
	padding-bottom: 80px;
	}
#offre h2 {
		margin-bottom: 70px;
}	
/*#offre img {
	height: 250px;
}*/
#offre p {
	color:#333333;
	font-size: 2rem!important;
	font-weight: 400;
	padding-top: 20px;

}
.collapsible h2{
	font-size: 3em;
   font-weight: bold;
   letter-spacing: 0.1em;
   line-height: 2em;
	color: #333333;

}

.collapsible-header{
	background-color: transparent;
	padding-top:;
	border-style: none;
	z-index: 0;

}
.collaps p{
	 margin-bottom: 1rem;
    font-size:2rem;
    color: black !important;
}
.collapsible{
	border-style: none;
}
.collapsible-body{
	color:black;
	font-size:2rem;
	border-style: yellow;
	font-weight: 100;
}

.clear{
	cursor:pointer;
}
#call-to-action {
	background-color: ;
}
#call-to-action p{
	font-size: 2rem;
	padding-top: 0;
}

.ship {
	color:black;
}
#skills .card {
	background-color: white;
}
#skills p {
	color: grey!important;
}
/*****************************************PAGES******************************************/

.card-panel img {
	padding: 10px;
	
}
.card-panel {
	background-color: #00101a;
}
.section-divider {
	min-height:300px;
}
.section-offre {
	background-color: white;
	padding-top: 20px;
	padding-bottom: 50px;
}
.section-offre img {
	padding: 15px;
}
.section-header-light h1 {
	color: #808080;
	font-weight: 900;
}
.section-header-light h2 {
	color: #808080;
	font-weight: 300!important;
	font-size: 3.2rem;
}
.section-header-light {
	background-color: white;
	padding-top:50px!important;
	padding-bottom: 50px;
}
.header-light p{
	font-size: 1.8rem;
	color: white;

}
.header-light {
	padding-top:50px!important;
	background-color: white;
}
.header-light h1{
	font-size: 2.5rem!important;
	color:white;
	text-transform: uppercase;
	font-weight: 300;
	background-image: none;
	padding-top: 0px;
	text-shadow:none;
}

#school h3{
	font-size: 2rem;
	color: grey;
}
 
.works p{
	color:#00101A; 
 }
.works h1, h2, h3, h4 {
	color:grey; 
 }

 #works {
	padding-top:80px; 
	padding-bottom: 80px;
	background-color:white; 
 }
/************************************************************************************/
#section-main-offer {
	
	padding-top: 80px;
	padding-bottom: 50px;
}
/****************************************CONTACT*****************************************/
*::-moz-placeholder {

    color: #1b0b37;

}
#section-contact{
	background-color: ;
	padding-top: 10px;
}
#discuss{
	margin-top: 5rem;
}
.divContact {
  margin-top: 1rem;
}

input[type="text"],input[type="email"], textarea.materialize-textarea {
	border-bottom: 1px solid #00101a!important;
	
}
#contact {
	padding-bottom: 3rem;
}
input {
	line-height: normal;
	color: #00101a;
}
#contact div:nth-child(-n+4) {
	display: block;
   height: auto;
   margin-top: 2rem;
   padding: 2rem;
   color: #F92AC2;
   font-size: 2rem;
  }
#contact div:nth-child(0n+4) {
   margin-bottom: 4vh;
  }

#contact div input {
   font-size: 1.5rem;
  }
#contact div textarea {
   border-style: none;
   font-size: 1.5rem;
   height: 20vh;
  }
.feedback {
  font-size: 2rem;
  color: whitesmoke;
}
#section-contact h2 {
	color: white;
}
#section-contact h3 {
	color:whitesmoke;
	font-weight: 400;
	font-size: 3rem;
}
.validate {
	color:#F92AC2;
}
#section-contact h5+p{
	font-size: 1.2rem;
}
/***********************************SECTION-BUDGET*********************************************/
.budget {
	margin:;

}
/***********************************FOOTER*****************************************************/
footer {
	background-color:  #1b0b37;
	padding: 20px;
}
.footer a, .footer a:active, .footer a:visited {
   text-decoration: none;
	color:white!important;
	font-size:1.2rem;
}
.btn-flat{
	color:#00F4D9;
	font-size:1.2rem;
}
#modal1 p{
	color: black !important;
}
#modal1 h3{
	color:#F92AC2;
}
#social a{
	padding-left: 20px;
}

#heart a {
	cursor:url("../img/heart.png"), auto;
}
/***********************************MEDIA QUERIES<3********************************************/

@media all and (min-width: 601px){
	header h1{
		font-size: 3.5rem!important;
	}
	header h2{
	font-size: 2rem;}
	#offre p {
	font-size: 2rem;}
	#section-contact p {
	font-size: 2rem;	
	}
	
	
}
@media all and (min-width: 801px){

    #contact div input, #contact div textarea {
    	font-size: 2rem;
    	}
    .picto {
  	 	width:40%;
  		}
  	 header h1{
		font-size: 4.5rem!important;
  		}
  		header h2{
	font-size: 2rem;}
	#offre p {
	font-size: 2.5rem;}
	#motiv p {
	font-size: 2.5rem;}
	#section-contact p {
	font-size: 2.5rem;	
	}
}

@media all and (min-width: 1200px){
	header h1{
		font-size: 5.5rem!important;
  	}
  	header h2{
	font-size: 2rem;}
	#offre p {
	font-size: 3rem;}
	#motiv p {
	font-size: 3rem;}
	#section-contact p {
	font-size: 3rem;	
	}
}
